<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="CustomVision:Prediction:Key" value="5ea1eaf670ca48daa9f1041ce478882c"/>
    <add key="CustomVision:Prediction:Endpoint" value="https://ai100customvision1-prediction.cognitiveservices.azure.com/"/>
    <add key="CustomVision:Prediction:ResourceId" value="/subscriptions/e30bfae0-7b5c-44ab-ab50-13ab354664ab/resourceGroups/AI100Group/providers/Microsoft.CognitiveServices/accounts/AI100CustomVision1-Prediction"/>
    
    <add key="CustomVision:Training:Key" value="d21e4a24f5dc41188dad5c5908fe15f4"/>
    <add key="CustomVision:Training:Endpoint" value="https://ai100-customvision-1.cognitiveservices.azure.com/"/>
  </appSettings>
</configuration>