<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="CustomVision:Prediction:Key" value="f95162357585411e8df442fc0f5b63f2"/>
    <add key="CustomVision:Prediction:Endpoint" value="https://aicustomvision-prediction.cognitiveservices.azure.com/"/>
    <add key="CustomVision:Prediction:ResourceId" value="/subscriptions/e30bfae0-7b5c-44ab-ab50-13ab354664ab/resourceGroups/AIGroup/providers/Microsoft.CognitiveServices/accounts/AICustomVision-Prediction"/>
    
    <add key="CustomVision:Training:Key" value="40cafa87660a4214920fe33235267afe"/>
    <add key="CustomVision:Training:Endpoint" value="https://ai-customvision.cognitiveservices.azure.com/"/>
  </appSettings>
</configuration>