<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Speech:Key" value="3456346c2a9748059ea41ccef44a887b"/>
    <add key="Speech:Location" value="eastus"/>
    <add key="TextAnalytics:Key" value="0430efa85d384e4a8e62250c43edbc03"/>
    <add key="TextAnalytics:Endpoint" value="https://aimeetup-textanalytics.cognitiveservices.azure.com/"/>
  </appSettings>
</configuration>