<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="Vision:Endpoint" value="https://aimeetup-vision.cognitiveservices.azure.com/"/>
    <add key="Vision:Key" value="7235090f086141e5b556da34fe1b92b7"/>
  </appSettings>
</configuration>
